.login-container {
  width: 100%;
  max-width: 1120px;  /* Largura máxima */
  height: 100vh; /* Faz com que ocupe a página toda */
  margin: 0 auto; /* Faz com que o conteúdo fique centralizado */

  display: flex; /* FlexBox, por padrão a flexbox alinha os itens um ao lado do outro */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between; /* Coloca um espaço entre a section e a img */
}

.login-container .form {
  width: 100%;
  max-width: 450px;
  margin-right: 30px;
  position: relative;
  margin-top: 5.7rem;
}

.login-container .form img {
  position: absolute;
  top: -120px;
  left: 25%;
}

.login-container .form form {
  border-radius: 20px;
  padding: 40px;
}

.login-container .form form h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.login-container .form form input + input {
  margin-top: 30px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;

  display: flex;
  align-items: center;
}

.back-link p {

  display: flex;
  align-items: center;
}