.address-content {
  display: flex;
  align-items: center;
}

.input-address {
  width: 20%;
  margin-left: 7px;
}

.register-container {
  width: 100%;
  max-width: 1120px;  /* Largura máxima */
  height: 100vh; /* Faz com que ocupe a página toda */
  margin: 0 auto; /* Faz com que o conteúdo fique centralizado */

  display: flex; /* FlexBox, por padrão a flexbox alinha os itens um ao lado do outro */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

.register-container .content {
  width: 100%;
  max-width: 850px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  padding: 80px 0;
  /* 0 e 0 são o eixo X e Y, 100px de blur e o rgba pegou a cor preta com 10% de opacidade */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Isso jogará a section para a esquerda, o formulário para a direita e colocará um espaço entre eles */
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 650px;
  background: #FFF;
  border-radius: 8px;
  color: #0092d5;
  position: relative;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.register-container .content section h1{
  font-size: 40px;
  color: #d80f19;
}

.register-container .content section p{
  font-size: 18px;
  line-height: 32px;
  color: black;
  margin: 10px 0;
}

.register-container .content section img {
  position: absolute;
  width: 40%;
  bottom: -10px;
  left: 0;
}

.register-container .content form {
  width: 100%;
  max-width: 650px;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
}

.register-container .content form div {
  width: 100%;
  max-width: 320px;
}

.register-container .content form input {
  margin-top: 8px;
  height: 50px;
  font-size: 16px;
  background: #FFF;
}

.register-container .button {
  margin-top: 8px;
  height: 50px;
  background: #5cb85c;
}

.inativo {
  visibility: hidden;
}

:disabled {
  cursor: not-allowed;
}

.register-container .back-link {
  color: #000;
  margin: 0;
}

.register-container #market_picture {
  border: 0;
  font-size: .8rem;
  padding: 16px 8px;
}

.register-container #market_picture::-webkit-file-upload-button {
  border: 0;
  outline: none;
  font-size: 12px;
  padding: .5rem;
  border: 1px solid #000;
  color: #000;
  background: #FFF;
  cursor: pointer;
  transition: all .4s ease-out;
}
.register-container #market_picture::-webkit-file-upload-button:hover {
  color: #FFF;
  background-color: #000;
}
